
/*********** TITLES ************/

.mediumTitle {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 25px;
}

.formTitle {
	display: inline;
	width: 100%;
	font-size: 16px;
}

.smallTitle {
	font-size: 20px;
}

/*********** MENUBAR ************/
.menuBar {
	min-width: 100%;
}

.menuBarNav, .menuBarHeader {
	text-align: center;
}

.menuBarNav li, .menuBarHeader {
	min-width: 180px;
}

.menuIcon {
	font-size: 50px;
}


/*********** SETTINGS ************/

#settings {
	min-width: 100%;
}


#listSettings{
	width: 70%;
	text-align: left;
}

#confirm{
	float: right;
}

/*********** ADD ************/

#add {
	min-width: 100%;
}

.timer {
	font-size: 60px;
}

.timerIcons {
	font-size: 20px;
}

/*********** STATISTICS ************/

#statistics {
	min-width: 100%;
}

/*********** CALENDAR ************/

#calendarView {
	min-width: 100%;
}

#categorySelector {
	width:150px;
	display: inline-block;
}

.ui-state-highlight.fc-today{
     color:red;
     background:;
  } 

/*********** HOME ************/

#home {
	min-width: 100%;
}