


/*********** STYLING MENUBAR ************/
.menuBar {
	min-width: 100%;
}

.menuBarNav, .menuBarHeader {
	text-align: center;
}

.menuBarNav li {
	min-width: 200px;
}

.menuIcon {
	font-size: 50px;
}