<div class="container" id="add">
	<br>
	<div class="col-md-12">
		<span class="mediumTitle">Add</span><hr><br>

        <div class="col-md-5"></div><div class="col-md-4">

		<!--     Timer and timer buttons      -->
		
		<span class="timer"><timer autostart="false" interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}<br></span>

		
		<button class="btn btn-default btn-md" ng-show="!timerRunning" ng-click="startTimer()" ng-disabled="timerRunning"><span class="glyphicon glyphicon-play timerIcons"></span></button>
        <button class="btn btn-default btn-md" ng-show="timerRunning" ng-click="pauseTimer()" ng-disabled="!timerRunning"><span class="glyphicon glyphicon-pause timerIcons"></span></button>
        <button class="btn btn-default btn-md" ng-disabled="timerRunning" ng-click="resetTimer()"><span class="glyphicon glyphicon-stop timerIcons"></span></button>
       
        <button class="btn btn-default btn-md" ng-hide="timerRunning || (!timeStarted)" ng-click="setDuration(hhours, mminutes, sseconds)">Set as duration</button>
       	</timer><br><br>
        
        
    
        <span class="formTitle">Date:</span><br>
        
        <span class="formTitle">Start time:</span><br><br>

        <span class="formTitle">Duration:</span> 
		<div class ="form-Group">
			<div class="col-xs-2">
			<label for="hour">Hour:</label>
			<input type="text" class="form-control" id="hour">
			</div>
			<div class="col-xs-2">
			<label for="minute">Minute:</label>
			<input type="text" class="form-control" id="minute">
			</div>
			<div class="col-xs-2">
			<label for="second">Sec:</label>
			<input type="text" class="form-control" id="second">
			</div>
		</div>
		<span ng-show="durationSet">{{duration}}</span>
        <br>
		<br>
		<br>
		<br>

        <span class="formTitle">Category:</span>
            <select class='form-control' id="categorySelector" ng-model="selected" ng-change="selectCategory(selected)" ng-options="choice.name for choice in categories">
            <option value="">Select Category</option></select><br>


        </div><div class="col-md-3"></div>

	</div>
</div>
<!-- We include the menu as it is shared across several screens.  -->
<ng-include src="'partials/menu.html'" ng-controller="MenuCtrl"></ng-include>

