<div class="container" id="calendarView">
	<br>
	<div class="col-md-12">
		<span class="mediumTitle">Calendar</span><hr> <!-- the title -->
	</div>

    <html lang="en" ng-app="myCalendarApp" id="top">
    <center>
    <div class="calendar" id="calendar" ng-model="eventSources" ng-change="uiConfig.calendar" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
    </center>
    <!--<center><div id='calendar'></center> the calendar inserts here -->
    <!--</div>--> 
	

</html>
</div>
</div>


<div id="fullCalModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="modalTitle" class="modal-title">{{modalEvent.title}}</h4>
                </div>

                <div id="modalBody" class="modal-body">
                <div class="ng-hide" ng-hide="modalEvent.hidden">
                    Start time: {{modalEvent.start.format('DD/MM/YYYY HH:mm')}}<br>
                    End time: {{modalEvent.end.format('DD/MM/YYYY HH:mm')}}<br>
                	Category: {{modalEvent.category}}<br>


                	Logged: 
                    <div class="checkbox-inline">
                        <label><input type="checkbox" ng-model="modalEvent.logged" ng-change="logOrNotLog(modalEvent)"></label>
                    </div><br>
                    Auto Report: 
                    <div class="checkbox-inline">
                        <label><input type="checkbox" ng-model="modalEvent.autoReport" ng-change="changeAutoReport(modalEvent)"></label>
                    </div><br>
                                </div></div>
                <div class="modal-footer"> 
                <div ng-show="modalEvent.hidden">
                    <button type="button" id="categoryButton" ng-click="unHideEvent(modalEvent)" class="btn btn-default"> Unhide this event</button>
                </div>
                <div class="ng-hide" ng-hide="modalEvent.hidden">
                <button type="button" id="categoryButton" ng-click="hideEvent(modalEvent)" class="btn btn-default"> Hide this event</button>
                    <select class='form-control' id="categorySelector" ng-model="selected" ng-change="currentSelCat(selected)" ng-options="choice for choice in categoryNames">
                        <option value="">Select Category</option>
                    </select>
                    <button type="button" id="categoryButton" ng-click="changeCategory(modalEvent)" class="btn btn-default"> Change category</button>
                    
                </div>
                	<!--<button type="button" id="loggedButton" ng-click="logOrNotLog(modalEvent)" class="btn btn-default"> Change logged status </button>-->

                </div>
            </div>
        </div>
</div>

<!-- We include the menu as it is shared across several screens. -->
<ng-include src="'partials/menu.html'" ng-controller="MenuCtrl"></ng-include>


