<div class="container" id="calendar">
	<br>
	<div class="col-md-12">
		<span class="mediumTitle">Calendar</span><hr> <!-- the title -->
	</div>
	<div id='calendar'> <!-- the calendar inserts here -->
	</div> 
</div>


<!--  initializes the calendar -->
<script>
	$(document).ready(function() {
    //page is now ready
    	$('#calendar').fullCalendar({
    		header: {
                center: 'title',
                left: '',
                right: ''
            },          
            defaultView: 'agendaWeek',          
            firstDay: 1,
            
            dayClick: function(){ 			//pop up at a click, maybe we can use?
        		alert('a day has been clicked!');
    		},
            events: [
                {
                    title: 'Event1',
                    start: '2016-03-30T10:00',
                    end:'2016-03-30T12:00'            
                }
            ],
    	});
	});

</script>

<!-- We include the menu as it is shared across several screens. -->
<ng-include src="'partials/menu.html'" ng-controller="MenuCtrl"></ng-include>