<div class="container" id="calendarView">
	<br>
	<div class="col-md-12">
		<span class="mediumTitle">Calendar</span><hr> <!-- the title -->
	</div>

    <center><div id='calendar'></center> <!-- the calendar inserts here -->
    </div> 
	
</div>


<div id="fullCalModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>
                <div id="modalBody" class="modal-body">
                	<div id="category"> <hr></div>
                	<div id="logged"> </div>
                </div>
                <div class="modal-footer">

                    <select class='form-control' id="categorySelector" ng-model="selected" ng-change="currentSelCat(selected)" ng-options="choice for choice in categoryNames">
                        <option value="">Select Category</option>
                    </select>
                    <button type="button" id="categoryButton" class="btn btn-default"> Change category</button>
                    



                	<button type="button" id="loggedButton" class="btn btn-default"> Change logged status </button>
                    <a class="btn btn-primary" id="eventUrl" target="_blank">Event Page</a>
                </div>
            </div>
        </div>
    </div>

<!-- We include the menu as it is shared across several screens. -->
<ng-include src="'partials/menu.html'" ng-controller="MenuCtrl"></ng-include>




<!--  initializes the calendar
I moved it to a better place but i wanna keep it here to look at

<script>
	$(document).ready(function() {
    //page is now ready
    	$('#calendar').fullCalendar({
    		header: {
                center: 'title',
                left: '',
                right: ''
            },          
            defaultView: 'agendaWeek',          
            firstDay: 1,

            dayClick: function(){ 			//pop up at a click, maybe we can use?
        		alert('a day has been clicked!');
    		},
            events: [
                {
                    title: 'Event1',
                    start: '2016-03-30T10:00',
                    end:'2016-03-30T12:00'            
                },
                {
                    title: 'Event2',
                    start: '2016-03-30T13:00',
                    end:'2016-03-30T15:00'            
                }
            ],
    	});
	});

</script>

-->