
		<div ng-show="authData" class="container">
			<br>
			<div class="col-md-12">
	 			<span class="mediumTitle"> Hello, {{authData.google.displayName}} </span><hr>
	 		</div>
	 		<div class="col-md-12">

	 			<div class="col-md-4">
	 				<hr class="vr">
	 			</div>

	 			<div class="col-md-4">
	 				<p>Time tracker is a web page where 
			 		you can keep track on how much 
			 		time you spend on different kinds of activities by logging the events you participated in.</p>
			 		
			 		<p>Navigate with the menu below.</p>
			 		
			 		<p>Use <i>Add</i> to manually add events or to use the stop watch.</p>
			 		
			 		<p>In <i>Statistics</i> can you see your progress.</p>
			 		
			 		<p>In <i>Calendar</i> can you look at all your events and choose if you want to log them or not.</p>
			 		
			 		<p>In <i>Settings</i> you can choose what calendars you wish to sync from Google Calendar and what categories they are connected to. You can also create new categories and change the old ones. </p>

	 			</div>
	 			<hr class="vr">
	 		</div>

				 		

	 		<!-- We include the menu as it is shared across several screens. -->
			<ng-include src="'partials/menu.html'" ng-controller="MenuCtrl"></ng-include>
	 	</div>
	 	
	 	<div ng-hide="authData" class="container" id="unauthorized">
	 		<div class="col-md-12">
	 			<br>
	 			
	 			<div class="centerBox">

	 				<center><span class="jumboTitle">Welcome to Time Tracker</span></center>

	 				<div class="col-md-12">
	 					<div class="col-md-5">
			 			<p>
			 			Time Tracker is a web page where 
			 			you can keep track on how much 
			 			time you spend on different kinds of activities.</p>
			 			</div>
			 		</div>
			 		<br><br><br>
				 	<center><p>Log in with google here</p>
				    <button class="btn btn-default" ng-click="login()">Sign in</button></center>
				</div>
			</div>
	 	</div>
	 



	